*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





header{
    display: grid;
    color: white;
    background-color: teal;
    font-size: 48px;
    text-align: center;
    
    height: 60px;
}

aside{
    
    background-color:darkgreen;
    color: white;
    text-align: center;
    height: 100%;
}

aside h2{
    padding: 20px;
}

main{
    
    background-color: rgba(172, 255, 47, 0.438);
    display: grid;
    grid-template-columns: 150px 1fr;
}



section{
    width: 100%;
    padding: 80px;
    display: block;
    
}

section img{
    object-fit: contain;
    width: 1080px;
    height: 720px;
    justify-content: center;

   }
   
   section h1{
       margin-top: 40px;
       width: 600px;
       font-size: 32px;
   }

   section p{
       width: 600px;
       font-size: 28px;
   }